B. Normalize the data (5 marks) 

Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

How does the mean of the mean squared errors compare to that from Step A?

In [ ]:
#importing libraries

import keras
from keras.models import Sequential 
from keras.layers import Dense 
from sklearn.model_selection import train_test_split 
import pandas as pd 

#importing processing to perform normalization on predictors
from sklearn import preprocessing

In [ ]:
#loading dataset
data = pd.read_csv("concrete_data.csv")
data.head(10)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
5,266.0,114.0,0.0,228.0,0.0,932.0,670.0,90,47.03
6,380.0,95.0,0.0,228.0,0.0,932.0,594.0,365,43.70
7,380.0,95.0,0.0,228.0,0.0,932.0,594.0,28,36.45
8,266.0,114.0,0.0,228.0,0.0,932.0,670.0,28,45.85
9,475.0,0.0,0.0,228.0,0.0,932.0,594.0,28,39.29

In [ ]:
#dividing dataset in predictors and target
predictors = data.iloc[:,:-1]
print(predictors)

#normalizing predictors
normalized_pred = preprocessing.normalize(predictors)
print(normalized_pred)

target = data.iloc[:,-1]
print(target)

      Cement  Blast Furnace Slag  Fly Ash  Water  Superplasticizer  \
0      540.0                 0.0      0.0  162.0               2.5
1      540.0                 0.0      0.0  162.0               2.5
2      332.5               142.5      0.0  228.0               0.0
3      332.5               142.5      0.0  228.0               0.0
4      198.6               132.4      0.0  192.0               0.0
...      ...                 ...      ...    ...               ...
1025   276.4               116.0     90.3  179.6               8.9
1026   322.2                 0.0    115.6  196.0              10.4
1027   148.5               139.4    108.6  192.7               6.1
1028   159.1               186.7      0.0  175.6              11.3
1029   260.9               100.5     78.3  200.6               8.6

      Coarse Aggregate  Fine Aggregate  Age
0               1040.0           676.0   28
1               1055.0           676.0   28
2                932.0           594.0  270
3                932.0           594.0  365
4                978.4           825.5  360
...                ...             ...  ...
1025             870.1           768.3   28
1026             817.9           813.4   28
1027             892.4           780.0   28
1028             989.6           788.9   28
1029             864.5           761.5   28

[1030 rows x 8 columns]
[[0.39624448 0.         0.         ... 0.76313751 0.49603938 0.02054601]
 [0.39293409 0.         0.         ... 0.7676768  0.49189527 0.02037436]
 [0.27357162 0.11724498 0.         ... 0.76682331 0.48872645 0.22214838]
 ...
 [0.12141129 0.11397127 0.08878967 ... 0.72961238 0.63771588 0.02289237]
 [0.1222549  0.14346317 0.         ... 0.76042395 0.60620297 0.02151563]
 [0.21646863 0.08338481 0.06496548 ... 0.71727531 0.63181625 0.02323159]]
0       79.99
1       61.89
2       40.27
3       41.05
4       44.30
        ...
1025    44.28
1026    31.18
1027    23.70
1028    32.77
1029    32.40
Name: Strength, Length: 1030, dtype: float64

In [ ]:
#building model 

model = Sequential()

n_cols = normalized_pred.shape[1]

model.add(Dense(10, activation="relu", input_shape=(n_cols,)))
model.add(Dense(1))

model.compile(optimizer="adam", loss="mean_squared_error")

In [ ]:
#printing mean squared error from 1-50 steps 
list = []
for step in range(50):
    #divide test data to be 30%
    X_train, X_test, y_train, y_test = train_test_split(normalized_pred, target, test_size=0.3)
    #train the model
    trained = model.fit(X_train, y_train, epochs=50, verbose=0, validation_data=(X_test, y_test))
    mean_squared_error = trained.history['val_loss'][-1]
    list.append(mean_squared_error)
    print('Step {} : mean squared error is {}'.format(step+1, mean_squared_error))

Step 1 : mean squared error is 658.2527465820312
Step 2 : mean squared error is 252.84259033203125
Step 3 : mean squared error is 257.0145568847656
Step 4 : mean squared error is 217.59356689453125
Step 5 : mean squared error is 202.36973571777344
Step 6 : mean squared error is 198.5179901123047
Step 7 : mean squared error is 168.77978515625
Step 8 : mean squared error is 173.62046813964844
Step 9 : mean squared error is 135.56808471679688
Step 10 : mean squared error is 123.23681640625
Step 11 : mean squared error is 124.67933654785156
Step 12 : mean squared error is 137.01271057128906
Step 13 : mean squared error is 110.92557525634766
Step 14 : mean squared error is 101.49470520019531
Step 15 : mean squared error is 105.0508041381836
Step 16 : mean squared error is 95.5875015258789
Step 17 : mean squared error is 101.63663482666016
Step 18 : mean squared error is 96.71725463867188
Step 19 : mean squared error is 96.63038635253906
Step 20 : mean squared error is 89.95924377441406
Step 21 : mean squared error is 96.86558532714844
Step 22 : mean squared error is 91.88774871826172
Step 23 : mean squared error is 79.6846694946289
Step 24 : mean squared error is 80.67559051513672
Step 25 : mean squared error is 71.0323257446289
Step 26 : mean squared error is 81.94762420654297
Step 27 : mean squared error is 83.40560913085938
Step 28 : mean squared error is 78.7044906616211
Step 29 : mean squared error is 79.4163589477539
Step 30 : mean squared error is 67.16615295410156
Step 31 : mean squared error is 80.10951232910156
Step 32 : mean squared error is 75.40946960449219
Step 33 : mean squared error is 74.07360076904297
Step 34 : mean squared error is 68.97035217285156
Step 35 : mean squared error is 67.51119232177734
Step 36 : mean squared error is 69.50340270996094
Step 37 : mean squared error is 73.49622344970703
Step 38 : mean squared error is 66.36327362060547
Step 39 : mean squared error is 64.52308654785156
Step 40 : mean squared error is 70.22501373291016
Step 41 : mean squared error is 62.24846267700195
Step 42 : mean squared error is 59.3795051574707
Step 43 : mean squared error is 61.28175735473633
Step 44 : mean squared error is 54.203819274902344
Step 45 : mean squared error is 61.11973571777344
Step 46 : mean squared error is 57.55753707885742
Step 47 : mean squared error is 58.230995178222656
Step 48 : mean squared error is 59.00949478149414
Step 49 : mean squared error is 64.57740783691406
Step 50 : mean squared error is 53.213321685791016

In [ ]:
import numpy as np

In [ ]:
print("The mean of mean squared error is: {}".format(np.mean(list)))
print("The standard deviation of the mean squared error is: {}".format(np.std(list)))

The mean of mean squared error is: 111.18567626953126
The standard deviation of the mean squared error is: 92.88225922978998